<!DOCTYPE html>
<html>
<head>
    <title>Data Journalism: Tracking Dogs in New York City</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Mate:ital@0;1&display=swap" rel="stylesheet">
    {% include 'integrateBootstrap.html' %}
</head>
    
<body>
    
<h1>Tracking Dogs in New York City</h1>
<p>In this investigation, I'll be exploring the number of dogs in New York City, as well as the number of various different breeds. 
   My set of data tracks active dog licenses from 2016 to 2023. All dog owners in NYC are required by law to license their dogs, so I think 
   this data set is relatively good at representing the number of dogs in NYC. I pared down the dataset so it tracks each dog's name, breed, zipcode of residence, and the year the dog's license 
   is active (more on the specifics under Data Cleansing Pipeline). I will specifically be looking at NYC dogs in 2023, as it's the most recent year available and I wanted to pare down my 600K+ entry dataset. Because the dataset tracks the year the dog license was active, I think it's 
   pretty representative of the number of dogs in NYC in each specific year, or 2023 in this case. My macro page will be a map of NYC split by zipcode, with the number of dogs in each 
   zipcode detailed. My micro pages will be bar charts per zipcode tracking the number of dogs per dog breed. I chose this topic because I thought it was the most interesting one and 
   I love dogs! I also thought it would be fun to design my page with photos of adorable dogs! 
</p>
<h2>Link to All Data Sources</h2>
<ul>
    <li><a href="https://data.cityofnewyork.us/Health/NYC-Dog-Licensing-Dataset/nu7n-tubp/about_data">NYC Dog Licensing Data Source (NYC Open Data) </a></li>
    <li><a href="https://simplemaps.com/city/new-york/zips"> NYC SVG Map by Zipcode Source (Simple Maps) </a></li>
    <li><a href="NYCZipCodeMapSVG/new-york_combined.svg"> NYC SVG Map by Zipcode Graphic </a></li>
  </ul>
<h3 id="DataCleansingPipeline"> Data Cleansing Pipeline</h3>
<p> The original dataset had a dog's name, sex, birth year, breed, license issue date, license expired date, and data extraction year. I pared down the dataset so it was easier to analyze what I wanted to&mdash;the number of dogs in each zipcode and the number of dogs per breed in each zipcode. 
    By removing columns in Excel, I pared down the dataset so it initially only had the dog's name, breed, and data extraction year. I thought the data extraction year was a good representation of the amount of dogs in NYC in a certain year because that means the dog license was active in that certain year 
    and it was also easier to use than the specific license issued and expired date. Then, since I'm only looking at NYC zipcodes, I removed all non-NYC zipcodes by first googling the range of NYC zipcodes (10001 - 11697) and then removing all data entries with zipcodes 
    outside of that range, including four-digit zipcodes that might have just been typos. I made this process easier for myself by using an Excel function to sort all data entries by the chronological order of the zipcodes, and then removing entries less than 10001 and more than 
    11697. After, since I decided to just look at dog licenses during 2023, I removed all data entries not from 2023. This process was similar to my removal of non-NYC zipcodes&mdash;I sorted the dataset by the chronological order of the extract years and then removed all non-2023 years. 
    Thus, I pared down my data from 600K+ entries to about 108K and so it fit both my macro and micro pages! 
</p>
<ul>
    <li><a href="data/format_data.py"> format_data.py: what I did to organize my modified data into dictionaries I could later work with to craft a more understandable, visual interpretation of my data, my macro and micro pages</a></li>
    <li><a href="data/data.json"> data.json: modified data organized into dictionaries by format_data.py, so it's easier to translate data to my planned maps and bar charts</a></li>
  </ul>

<figure> 
    <img src="photos/dog.jpg" alt="Dog in a Field">
    <figcaption>wish I could be this cute dog</figcaption>
</figure>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
{% include 'footer.html' %}
</html>