body {
    font-family: "Mate", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

h1 {
    font-weight: 700; 
    font-size: 40px;
}

h2 {
    font-size: 30px; 
}

h3 {
    font-size: 30px; 
}

.github_link {
    font-weight: 600;
    font-size: 30px;
}
  