body {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 30px; 
}

h3 {
    font-size: 30px; 
}



.st37 {
    fill: linen;
}
  
.label-text {
    font-size: 10px;
    fill: rebeccapurple;
    transform: translate(0, 3px); /* adjust vertical position to centre text */
}

.lnk{
    cursor: pointer;
}
    
.lnk:hover{
    fill: red;
}

.w3-bar a:hover {
    background-color: rgb(223, 169, 252);
}


  