body {
    font-family: "Mate", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

h1 {
    font-weight: bold; 
    font-size: 40px;
}

h2 {
    font-size: 30px; 
}

h3 {
    font-size: 30px; 
}

figcaption {
    text-align: center;
}


  