<!DOCTYPE html>
<html>
<head>
    <title>Data Journalism: Tracking Dogs in New York City</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Mate:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% include 'integrateBootstrap.html' %}
</head>
    
<body>
  {% include 'navbar.html' %}
  <div class="mx-auto" style="width: 98%;">
    <h1>Tracking Dogs in New York City</h1>
    <p>In this investigation, I'll be exploring the number of dogs in New York City, as well as the number of various different breeds. 
      My set of data tracks active dog licenses from 2016 to 2023. All dog owners in NYC are required by law to license their dogs, so I think 
      this data set is relatively good at representing the number of dogs in NYC. I pared down the dataset so it tracks each dog's name, breed, zipcode of residence, and the year the dog's license 
      is active (more on the specifics under Data Cleansing Pipeline). I will specifically be looking at NYC dogs in 2023, as it's the most recent year available and I wanted to pare down my 600K+ entry dataset. Because the dataset tracks the year the dog license was active, I think it's 
      pretty representative of the number of dogs in NYC in each specific year, or 2023 in this case. My macro page will be a map of NYC split by zipcode, with the number of dogs in each 
      zipcode detailed. My micro pages will be bar charts per zipcode tracking the number of dogs per dog breed. I chose this topic because I thought it was the most interesting one and 
      I love dogs! I also thought it would be fun to design my page with photos of adorable dogs! 
    </p>
    <h3>Link to All Data Sources</h3>
    <ul>
        <li><a href="https://data.cityofnewyork.us/Health/NYC-Dog-Licensing-Dataset/nu7n-tubp/about_data">NYC Dog Licensing Data Source (NYC Open Data) </a></li>
        <li><a href="https://simplemaps.com/city/new-york/zips"> NYC SVG Map by Zipcode Source (Simple Maps) </a></li>
        <li><a href="NYCZipCodeMapSVG/new-york_combined.svg"> NYC SVG Map by Zipcode Graphic </a></li>
      </ul>
    <h2 id="DataCleansingPipeline"> Data Cleansing Pipeline</h2>
    <p> The original dataset had a dog's name, sex, birth year, breed, license issue date, license expired date, and data extraction year. I pared down the dataset so it was easier to analyze what I wanted to&mdash;the number of dogs in each zipcode and the number of dogs per breed in each zipcode. 
        By removing columns in Excel, I pared down the dataset so it initially only had the dog's name, breed, and data extraction year. I thought the data extraction year was a good representation of the amount of dogs in NYC in a certain year because that means the dog license was active in that certain year 
        and it was also easier to use than the specific license issued and expired date. Then, since I'm only looking at NYC zipcodes, I removed all non-NYC zipcodes by first googling the range of NYC zipcodes (10001 - 11697) and then removing all data entries with zipcodes 
        outside of that range, including four-digit zipcodes that might have just been typos. I made this process easier for myself by using an Excel function to sort all data entries by the chronological order of the zipcodes, and then removing entries less than 10001 and more than 
        11697. After, since I decided to just look at dog licenses during 2023, I removed all data entries not from 2023. This process was similar to my removal of non-NYC zipcodes&mdash;I sorted the dataset by the chronological order of the extract years and then removed all non-2023 years. 
        Thus, I pared down my data from 600K+ entries to about 108K and so it fit both my macro and micro pages! 
    </p>
    <ul>
        <li><a href="data/format_data.py"> format_data.py: what I did to organize my modified data into dictionaries I could later work with to craft a more understandable, visual interpretation of my data, my macro and micro pages</a></li>
        <li><a href="data/data.json"> data.json: modified data organized into dictionaries by format_data.py, so it's easier to translate data to my planned maps and bar charts</a></li>
    </ul>
    <h2>Important Vocabulary and Prefaces</h2>
    <ul>
      <li> Every dog in New York City is legally required to have a dog license. My original data from NYC Open Data tracked these NYC dog licenses. 
        Because each dog in NYC is assigned a dog license, I thought it was a good representation of dog populations in NYC. In my graphs, I assume the number of dog licenses to be the number of dogs. /li>
      <li>Quintiles means splitting data so that each quintile represnents 20% of the total data. 
        The first quintile represents the lowest fifth of the data (1% to 20%), while the fifth quintile represents the highest fifth of the data (81% - 100%). 
        Because the number of dogs in each zipcode varies so greatly because of the vast difference in the size between certain zipcodes, I decided to use quintiles to best represent my macro data. 
        I didn't want to arbitraily set random dog population ranges to different colors on my legend, I wanted to assign data points to different colors detailing differences in dog population in a logical way that viewers could understand. 
        </li>
    </ul>
    <h2>Prototypes</h2>
    <div class="container">
      <div class="row">
        <div class="col">
          <figure> 
          <figcaption style="text-align:center; font-weight: bold; "> Macro Page </figcaption>
          <img src="{{url_for('static', filename='/photos/macro.jpeg')}}" class="img-fluid" alt="Macro Prototype">
          </figure>
          <p> I prioritized making my map chart understandable at first glance. I have a simple headline that gets to the point quickly; it
            lets the viewer know that I'm comparing NYC zipcodes' populations of dogs in 2023 by relying on dog license data. I also made it so that each dog population quartile is represented by a shade of the same color so 
            viewers can easily between quartiles and compare zipcode dog populations. I used shades of the same color instead of different colors because different colors can be confusing and messy and I wanted to simplify the message as much as possible for my viewer. The legend on the right details these quartiles (please ignore the left legend). After getting my feedback, I decided that in my final design, I'll add concrete numbers to each quartile 
            so the viewer can more easily understand the range of populations. Also, I also will remove the number of dogs tag on each zipcode on the map because my feedback noted that this cluttered the page. Instead, I'll make the population number of that zipcode appear 
            when a user hovers over the zipcode on the map. Listening to my feedback, I also will add in qualitative and quantitative analysis to my chart to more clearly explain the data and compare zipcode dog populations.
          </p>
          <p style="color:red">don't have to include all actual feedback right? </p>
        </div>  
        <div class="col">
          <figure>
            <figcaption style="text-align: center; font-weight: bold; "> Micro Page </figcaption>
            <img src="{{url_for('static', filename='/photos/micro.jpeg')}}" class="img-fluid" alt="Micro Prototype">
          </figure>
          <p>
            For my micro page, I used a simple bar chart to compare populations of different dog breeds in each zipcode, which I make clear in my simple heading. I used a bar chart because I thought it would be most effective for comparing unchanging populations in a single year, 
              especially with so many different breeds. I also included faint horizontal lines per y-axis (representing population) tick on the chart so that the reader can easily distinguish between populations. Per my feedback, I'll add in qualitative analysis to explain my data further!
          </p>
        </div>
      </div>
    </div>
    <figure> 
      <img src="{{url_for('static', filename='/photos/dog.jpg')}}" class="img-fluid" style="max-width: 100%; height: auto;" alt="Dog in a Field">
        <figcaption>wish I could be this cute dog</figcaption>
    </figure>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </div>
  {% include 'footer.html' %}
</body>
</html>