<!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #ffffff">
      <style>
        .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }

        .dropup {
          position: relative;
          display: inline-block;
        }

        .dropup-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          bottom: 50px;
          z-index: 1;
        }

        .dropup-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropup-content a:hover {background-color: #ccc}

        .dropup:hover .dropup-content {
          display: block;
        }

        .dropup:hover .dropbtn {
          background-color: #2980B9;
        }

      </style>
      <div class="w3-bar w3-light-grey" >
        <a href="https://data.cityofnewyork.us/Health/NYC-Dog-Licensing-Dataset/nu7n-tubp/about_data" class="w3-bar-item w3-button">NYC Dog Licensing Data Source (NYC Open Data) </a>
        <a href="https://simplemaps.com/city/new-york/zips" class="w3-bar-item w3-button">NYC SVG Map by Zipcode Source (Simple Maps)</a>
        
      </script>      
    </footer>
    <!-- Footer -->
  
