<!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #ffffff">
      <style>
        .dropup-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropup-content a:hover {background-color: #ccc}

        .dropup:hover .dropup-content {
          display: block;
        }

        
      </style>
      <div class="w3-bar w3-light-grey" >
        <a href="/" class="w3-bar-item w3-button">About</a>
        <a href="/macro" class="w3-bar-item w3-button">Dog Populations in NYC: Zipcode Map</a>
        <div class="dropup">
          <button class="dropbtn" onclick="myFunction()" style="position: relative;
          display: inline-block;">
            Dropdown Menu: Comparing Dog Breed Populations in... 
          </button>
          <div id="demo" class="dropup-content" style="display: none;
          position: absolute;background-color: #f1f1f1; min-width: 160px; bottom: 50px; z-index: 1;">
            {% for zip in all_zips %}
            <a href="/micro?{{zip}}"> {{zip}}</a>
            {% endfor %}
          </div>
        </div>
      
      <script>
        function myFunction() {
          var x = document.getElementById("demo");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
      </script>      
    </footer>
    <!-- Footer -->
  
