<!DOCTYPE html>
<html>
<head>
    <title>Macro Page: Number of Dogs Per New York City Zipcode</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Mate:ital@0;1&display=swap" rel="stylesheet">
    {% include 'integrateBootstrap.html' %}
</head>
    
<body>
{% include 'navbar.html' %}

<h1>Number of Dogs Per New York City Zipcode</h1>
<h2>By Looking at Dog Licenses</h2>

<div id="macro_graph">
    {% include 'NYCZipCodeMapSVG/new-york_combined.svg' %}
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
{% include 'footer.html' %}
</html>