<!DOCTYPE html>
<html>
<head>
    <title>Macro Page: Number of Dogs Per New York City Zipcode</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Mate:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/x-icon" href="/photos/dog_icon.png">
    {% include 'integrateBootstrap.html' %}
</head>
    
<body>
{% include 'navbar.html' %}

<h1>Number of Dogs Per New York City Zipcode</h1>
<h2>By Looking at Dog Licenses</h2>

<script>
    let zipcode_map = document.getElementById()
    if (zipcode_map < 1) {
        zipcode_map.style.color = "white";
    } else if (zipcode_map <= 2) {
        zipcode_map.style.color = "240, 212, 255";
    } else if (zipcode_map <= 98) {
        zipcode_map.style.color = "223, 169, 252";
    } else if (zipcode_map <= 360) {
        zipcode_map.style.color = "202, 109, 252";
    } else if (zipcode_map <= 655) {
        zipcode_map.style.color = "180, 59, 245";
    } else if (zipcode_map <= 2380) {
        zipcode_map.style.color = "129, 4, 196";
    } 

    
</script>

<div id="macro_graph">
    {% include 'NYCZipCodeMapSVG/new-york_combined.svg' %}
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% include 'footer.html' %}
</body>
</html>