
<div class="w3-container" style="width: 98%;">
  <div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button">About</a>
    <a href="/macro" class="w3-bar-item w3-button">Dog Populations in NYC: Zipcode Map</a>
    <div class="w3-dropdown-click">
      <button class="w3-button" onclick="myFunction()">
        Dropdown Menu: Comparing Dog Breed Populations in... <i class="fa fa-caret-down"></i>
      </button>
      <div id="demo" class="w3-dropdown-content w3-bar-block w3-card">
        {% for zip in all_zips %}
        <a href="/micro?{{zip}}" class="w3-bar-item w3-button" > {{zip}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

<script>
  function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else { 
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>


 
  